<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kamyk's First Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog - tutorial</a> </h1>
        <p>Published 10.11.2018, 16:24</p>
        <p>Tworzenie pierwszej storny internetowej za pomocą framework Django</p>
    </div>

    <div>
        <h2><a href="/"> My first post</a> </h2>
        <p>Published 10.11.2018, 16:24</p>
        <p>Django jest super :)</p>
    </div>

    <div>
        <h3><a href="/">My second post</a></h3>
        <p>Published 10.11.2018, 16:24</p>
        <p>Będę się go uczył!</p>
    </div>
</body>
</html>